* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146,204,206,1);
    --third: rgba(49,52,61,1);

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--third);
    padding: 20px 0;
}

header h1{
    text-align: right;
    color: var(--third) ;
    font-size: 4vw;
    background-color: var(--second);
    padding: 5px;
    flex: 0.25 0 auto;
}

nav{
    padding: 10px;
    font-size: 1.5vw;
}

nav a{
    padding: 5px;
    margin: 4px;
    text-decoration: none;
    color: var(--second);
    background-image: linear-gradient(to top, var(--second), var(--second));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0.2em;
    transition: all 0.25s ease-in;
}

nav a:hover{
    background-size: 100% 100%;
    color: var(--first);
}

ul{
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 1% auto;
}

.hero {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./533021.jpg");
    background-size: cover;
    background-position: center;
}

.hero p{
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 5px;
    display: inline;
    color: var(--third);
    background-color: var(--second);
    font-size: 2vw;
}

.aside{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3vw;
    color: var(--first);
    border-right: 5px solid var(--first);
    padding-right: 1%;
    width: 20%;
    margin: 1.5%;
}

.content{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 70%;
    color: var(--first);
    margin: 1.5%;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: content;
}

.projects li{
    width: 48%;
    margin: 1%;
    padding: 0;
    position: relative;
    border: 0.4em solid var(--second);
}

.projects img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: opacity 0.25s ease-out;
}

.projects img:hover{
    opacity: 1;
}

.projects p{
    position: absolute;
    left: 0;
    bottom: 5%;
    background: var(--second);
    text-decoration: none;
    color: black;
    padding: 10PX;
    font-size: 1.5vw;
}


.contact{
    display: flex;
    justify-content: space-around;
}

.contact a{
    color: black;
    background-image: linear-gradient(to top, var(--first), var(--first));
}

.contact a:hover{
    color: black;
}

#main-project{
    width: 100%;
    max-height: 45%;
}

#main-project img{
    height: 100%;
}


@media screen and (max-width: 975px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 0;

    }

    header h1{        
        background-color: var(--second);
        flex-basis: 100%;
        text-align: center;
        font-size: 8vw;
    }

    nav {
        text-align: center;
        font-size: 2.5vw;
        line-height: 150%;
    }

    section{
        flex-direction: column;
    }

    .content, .projects{
        width: 100%;
    }

    .aside{
        flex-direction: row;
        border: 0;
        border-bottom: 5px solid var(--first);
        width: 100%;
        font-size: 6vw;
    }


    .hero{
        height: 275px;
    }

    .hero p{
        font-size: 4.5vw;
    }


}

@media screen and (max-width: 503px) {
    header{
        flex-direction: row;
    }

    header h1{
        display: none;
    }

    nav{
        flex-basis: 100%;
        font-size: 4vw;
        padding: 15px;
    }

    section, .projects, .contact{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    main{
        margin: 10px;
    }

    .aside{
        flex-direction: row;
        border: 0;
        border-bottom: 5px solid var(--first);
        width: 100%;
        font-size: 6vw;
    }
  
    .content{
        margin: 0;
    }
    .content, .projects, .projects li{
        width: 100%;
    }

    .hero{
        height: 325px;
    }

    .hero p{
        right: 20%;
        font-size: 6vw;
    }




}